{% extends 'partials/master.html' %}

{% load static %}
{% block content %}
  <style>
    .image-thumbail {
      height: 350px;
      object-fit: cover;
    }
    
    a{
      text-decoration: none;
      text-align: center;
    }
  </style>
  <div class="container mt-2">
    <h3>Photo Share</h3>
    <div class="row mt-3">
      <div class="col col-lg-3">
        <div class="card">
          <div class="card-header">{{ request.user }}</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{% url 'gallery' %}">All</a>
            </li>
              {% for category in categories %}
              <li class="list-group-item">
                <a href="{% url 'gallery' %}?category={{ category.name }}">{{ category.name }}</a>
              </li>
              {% endfor %}
            </ul>
        </div>
          
          <a href="{% url 'add_photo' %}" class='btn btn-success mt-3'>Add Photo</a>
          <a href="{% url 'logout_page' %}" class='btn btn-danger mt-3'>Logout</a>
      </div>
           
              

      <div class="col col-lg-9">
        <div class="row">

        {% for photo in page_obj %}
          <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
            <div class="card">
              <img class="image-thumbail" src="{{ photo.photo.url }}" alt="..." />
              <div class="card-body">
               <p>{{ photo.category.name }}</p>
              </div>
              <a href="{% url 'view_photo' photo.id %}" class="btn btn-outline-secondary">View</a>
            </div>
          </div>
          {% empty %}
          <div>
            <h4>No Photos</h4>
          </div>
        {% endfor %}

           
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    {% for photo in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ photo.name }}<br>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <!-- <a href="?page=1">&laquo; first</a> -->
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <!-- <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
        {% endif %}
    </span>
</div>
  </div>


</div>
{% endblock %}
