{% extends 'partials/master.html' %}

{% load static %}
{% block content %}
  <style>
    .image-thumbail {
      height: 400px;
      object-fit: cover;
    }
  </style>
  <div class="container mt-2">
    <h3>Photo Share</h3>
    <div class="row mt-3">
      <div class="col col-lg-3">
        <div class="card">
          <div class="card-header">Categories</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{% url 'gallery' %}">All</a>
            </li>
              {% for category in categories %}
              <li class="list-group-item">
                <a href="{% url 'gallery' %}?category={{ category.name }}">{{ category.name }}</a>
              </li>
              {% endfor %}
            </ul>
            <a href="{% url 'add_photo' %}" class='btn btn-dark'>Add Photo</a>
          </div>
      </div>
           
              

      <div class="col col-lg-9">
        <div class="row">

        {% for photo in photos %}
          <div class="col col-lg-4 col-md-6 col-sm-12 mb-2">
            <div class="card">
              <img class="image-thumbail" src="{{ photo.photo.url }}" alt="..." />
              <div class="card-body">
               <p>{{ photo.category.name }}</p>
              </div>
              <a href="{% url 'view_photo' photo.id %}" class="btn btn-outline-secondary">View</a>
            </div>
          </div>
          {% empty %}
          <div>
            <h4>No Photos</h4>
          </div>
        {% endfor %}

           
        </div>
      </div>
    </div>
  </div>
{% endblock %}
